body {
    background-color: white;
    font-family: "Roboto", helvetica, sans-serif;
    margin: 0;
    font-size: 18px;
}

/* Header Styles  */

header {
    display: flex;
    justify-content: space-between;
    background-color: #218383;
    color: #ffffff;
    padding: 3vh;
}

header a {
    text-decoration: none;
    font-size: 2em;
    color: white;
}

* {
    box-sizing: border-box;
    padding: 0;
    border: 0;
}

fieldset {
    padding: 0;
    border: 0;
    margin: 0;
}

.signup-form {
    width: 800px;
    padding: 40px;
    border-radius: 20px;
    background: white;
    margin: 30px auto;
    max-width: 100%;
    height: auto;
    border-color: lightgray;
    box-shadow: 10px 10px 10px 10px lightgray;
}

.signup-form legend {
    width: 100%;
    line-height: 38px;
    font-size: 35px;
    font-weight: 300;
    color: #565656;
    text-align: center;
    letter-spacing: 0;
    margin: 0 auto 45px;
}

button[type="submit"] {
    display: block;
    height: 400px;
    width: 150px;
    color: white;
    font-size: 18px;
    text-align: left;
    padding: 15px;
    background: white;
    margin: 10px auto 20px;
    transition: opacity 0.4s;
    max-width: 100%;
    border-radius: 50%;
}

button[type="submit"] {
    height: auto;
    font-size: 22px;
    font-weight: 250;
    text-align: center;
    color: white;
    background-color: #218383;
    border: 0;
    cursor: pointer;
    margin-bottom: 0;
}


button[type="previous"],
button[type="next"] {
    height: auto;
    font-size: 20px;
    font-weight: 240;
    text-align: center;
    padding: 15px;
}

button[type="submit"]:hover,
button[type="submit"]:focus {
    background-color: rgb(107, 35, 87);
    -webkit-transition: background 0.1s;
    -moz-transition: background 0.1s;
    -o-transition: background 0.1s;
    transition: background 0.1s;
}

.signup-form p {
    font-size: 24px;
    text-align: center;
    margin: 10px 0 0;
    color: #696969;
}

.signup-form a {
    color: #999;
    text-decoration: none;
    border-bottom: 1px solid #bbb;
}

.signup-form a:hover {
    border-color: #999;
    color: #777;
}


/*footer section*/
.footer {
    background-color: #218383;
    position: absolute;
    bottom: -20px;
    width: 100%;
    text-align: center;
    color: black;
    margin: 20px auto;
    font-weight: 100;
    padding: 30px;
}

.footer a {
    color: white;
}

.footer a:hover {
    color: #E7F1F9;
}
#error {
    text-align: center;

}

/* Media Queries */

@media screen and (min-width: 850px) {
    .signup-form {
        max-width: 680px;
    }
}

/* Media query that specifies devices that can utilize hover */
@media (hover) {
    /* Stylings pertaining to hover pseudo-class*/
    a:hover {
        color: #cbe1e0;
    }

    button:hover {
        background-color: rgba(33, 131, 127, 0.5);
    }
}

